.Nav-bar{
    background-color: grey;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 50px;
}



.box{
    background-color: grey;
    border: 1px solid black;
    padding: 20px;
    
}

.btn{
    background-color: grey;
    border: 1px solid black;
    padding: 20px;
}

/* About Courses */

.grid1 {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
    
}

#course{
    text-align: center;
    grid-column: 1/4;
    margin-bottom: 50px;
}

#image {
    display: grid;
    grid-auto-rows: 150px;
}

#title{
    text-align: center;
    font-size: 25px;
    grid-row: 3/4;
}

#paragraph{
    display: grid;
    grid-auto-rows: 200px;
    grid-row: 4/5;
}

#btn{
    text-align: center;
    grid-row: 5/6;
}

#btn1{
    text-align: center;
    grid-row: 6/7;
}